<ul>
    <li><a asp-action="CreateQuestion" asp-controller="Question" asp-area=""> ثبت پرسش جدید </a></li>
    <li><a asp-action="QuestionList" asp-controller="Question" asp-area=""> لیست سولات </a></li>
    <li><a asp-action="FilterTags" asp-controller="Question" asp-area=""> لیست تگ ها </a></li>
</ul>