<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal mb-15">
            <div class="row">
                <div class="col-md-5">
                    <input type="email" name="to" placeholder="To" class="form-control">
                </div>
                <div class="col-md-5">
                    <select class="form-control" name="country" data-bv-field="country">
                        <option value="">Select a country</option>
                        <option value="FR">France</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success btn-block">Success</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12 text-center">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="bordered-darkorange">
                    <tr>
                        <th class="text-center">
                            عنوان
                        </th>
                        <th class="text-center">
                            تعداد استفاده
                        </th>
                        <th class="text-center">
                            وضعیت
                        </th>
                        <th class="text-center">
                            امکانات
                        </th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td class="vertical-align-middle">
                            1
                        </td>
                        <td class="vertical-align-middle">
                            Steve
                        </td>
                        <td class="vertical-align-middle">
                            Jobs
                        </td>
                        <td class="vertical-align-middle">
                            <a href="javascript:void(0);" class="btn btn-danger btn-circle btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a href="javascript:void(0);" class="btn btn-sky btn-circle btn-xs">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="pagination mt-15">
            <li class="disabled">
                <a href="#">«</a>
            </li>
            <li class="active">
                <a href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">»</a>
            </li>
        </ul>
    </div>
</div>